*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}


.demoHolder{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demoWrapper{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.demoBody{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.vids{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 428px){
    .demoBody{
        width: 100%;
    }
}